*

### helper files
!/.gitignore
!/.vscode
!/.vscode/*
!/cspell.json

### root dir scripts
!/python.sh
!/jupyter_notebook.sh
!/setup.sh

!/roboguard
!/roboguard/tests
!/roboguard/tests/*
!/roboguard/tasks
!/roboguard/tasks/*

### core api
!exts

## core api
!exts/isaacsim.core.api
!exts/isaacsim.core.api/isaacsim
!exts/isaacsim.core.api/isaacsim/core
!exts/isaacsim.core.api/isaacsim/core/api

!exts/isaacsim.core.api/isaacsim/core/api/loggers
!exts/isaacsim.core.api/isaacsim/core/api/loggers/data_logger.py
!exts/isaacsim.core.api/isaacsim/core/api/scenes/
!exts/isaacsim.core.api/isaacsim/core/api/scenes/scene.py
!exts/isaacsim.core.api/isaacsim/core/api/simulation_context
!exts/isaacsim.core.api/isaacsim/core/api/simulation_context/simulation_context.py
!exts/isaacsim.core.api/isaacsim/core/api/world
!exts/isaacsim.core.api/isaacsim/core/api/world/world.py

## jupyter
!exts/isaacsim.code_editor.jupyter
!exts/isaacsim.code_editor.jupyter/config
!exts/isaacsim.code_editor.jupyter/config/extension.toml
