*

!/.gitignore
!/cspell.json
!/.vscode
!/.vscode/*
!pyrightconfig.json

!/python.sh
!/setup_python_env.sh

!/robotrace
!/robotrace/*

!/standalone_examples
!/standalone_examples/api
!/standalone_examples/tutorials

!/standalone_examples/api/isaacsim.asset.importer.urdf
!/standalone_examples/api/isaacsim.asset.importer.urdf/urdf_import.py

!/standalone_examples/api/isaacsim.core.api
!/standalone_examples/api/isaacsim.core.api/time_stepping.py

!/standalone_examples/api/isaacsim.cortex.framework
!/standalone_examples/api/isaacsim.cortex.framework/franka_examples_main.py

!/standalone_examples/tutorials/*

!/exts
!/exts/isaacsim.core.api
!/exts/isaacsim.core.api/isaacsim
!/exts/isaacsim.core.api/isaacsim/core
!/exts/isaacsim.core.api/isaacsim/core/api

!/exts/isaacsim.core.api/isaacsim/core/api/world
!/exts/isaacsim.core.api/isaacsim/core/api/world/world.py

!/exts/isaacsim.core.api/isaacsim/core/api/simulation_context
!/exts/isaacsim.core.api/isaacsim/core/api/simulation_context/simulation_context.py

!/exts/isaacsim.core.api/isaacsim/core/api/scenes
!/exts/isaacsim.core.api/isaacsim/core/api/scenes/scene.py
